
.block {
  height: 100%;

  background: $blok1-color;
}
.wrapper {
  width: 90%;
  margin: auto;
  color: #ffffff;
  @include flex(center, flex-start, column);
  row-gap: 6.6rem;

  h1 {
    margin: 10rem 0 0 0;
    align-self: center;
    font-family: $prompt;
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.group {
  margin-left: 2.3rem;
  //margin-bottom: 5.6rem;
  @include flex(center, flex-start, column);
  row-gap: 3.5rem;
  p {
    font-weight: 300;
    font-size: 1.9rem;
    font-family: $prompt;
  }
}
.button-block {
  margin-left: 2.3rem;
  margin-bottom: 11.7rem;
}
@media screen and (min-width: 1294px) {
  .group{
    width: 70%;
    margin: auto;
    @include flex(center, center, column);
    text-align: center;
    p{
    font-size: 2.5rem;

    }
  
  }
  .button-block{
    align-self: center;
    margin: 0;
  }
}