.intro {
  min-height: 100vh;
  @include flex(center, flex-start, column);
  padding-bottom: 24rem;
  background-image: url("../../assets/img/hotel-wallpaper.jpg");
  background-repeat: repeat;
}

.intro-main {
  padding-top: 15.5rem;
  padding-bottom: 6.4rem;
  h3 {
    font-size: 1.8rem;
    font-family: $prompt;
    font-weight: bold;
    color: #676767;
    text-transform: uppercase;
  }

  h1,
  span {
    font-family: $prompt;
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 5.7rem;
  }
}
.underline-group {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  h2 {
    font-family: $logoFont;
    font-size: 5.7rem;
    color: $blok1-color;
  }
  img {
    position: absolute;
    top: 102%;
    width: 11.39rem;
  }
}
.button {
  font-family: $vietnam;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.3rem 1.5rem;
  align-self: flex-start;
  outline: none;
  border: 1px solid black;
  color: #fffefe;
  background-color: black;
  opacity: 1;
  letter-spacing: 0.3rem;
}
.intro-button {
  margin-top: 6.4rem;
  display: block;
  background: $blok1-color;
}
@media screen and (min-width: 767px) {
  .intro-group {
    align-self:center;
    width: 85%;
    @include flex(space-between, center, row);
  }
}
@media screen and (min-width: 1600px) {
  .intro{
    justify-content: space-around;
  }
  .intro-group {
    align-self:center;
    width: 85%;
    @include flex(space-around, center, row);
    img{
      width: 50%;
    }
  }
}
@media screen and (max-width: 967px) {
  .intro-group {
    align-self: center;
    @include flex(center, center, row);
    img {
      display: none;
    }
  }
}
