.subscribe {
    padding-top: 20rem ;
    @include flex(space-evenly, center, column);
    min-height: 40vh;
    background-color: #fff; 
    text-align: center;
    img {
      position: relative;
      top:7.7rem;
    }
  }
  .subscribe-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .underline-h1group-subscribe{
    position: absolute;
    h1 {
      text-align: center;
      font-family: $vietnam;
      text-transform: uppercase;
      font-size: 2.6rem;
      font-weight: 800;
    }
  }
  
  .emailForm {
    box-sizing: border-box;
    width: 32.5rem;
    margin-top: 11.3rem;
    display: flex;
    justify-content: center;
    height: 6.2rem;
    input {
      width: 100%;
      height: 100%;
      border: none;
      background-color: #555;
      color: #fafafa;
      font-family: $vietnam;
      font-weight: 400;
      font-size: 2.6rem;
      padding: 0 5rem;
    }
  }
  .emailIcon {
    align-self: center;
    background: url("../../assets/icons/send.svg") no-repeat right;
    padding-right: 2rem;
    background-size: 2.6rem;
    background-position-x: 94%;
  }
  
  @media screen and(min-width: 1000px) {
    .subscribe{
      h1{
        font-size: 3rem;
      }
    }
    
  }