.weeks {
  min-height: 100vh;
  padding: 7.7rem 0;
  @include flex(center, center, column);
  background-image: url("../../assets/img/hotel-wallpaper.jpg");
  background-repeat: repeat;
}
.week {
  display: flex;
  flex-direction: column;
  img {
    align-self: center;
  }
}
.week-info {
  height: 10.8rem;
  width: 18.7rem;
  background-color: #e5e5e5;
  @include flex(space-evenly, inherit, column);
  color: #000;

  h1 {
    text-align: center;
    font-family: $vietnam;
    text-transform: uppercase;
  }
}
.week-days {
  @include flex(space-around, center, row);
  text-transform: uppercase;
  text-decoration-line: underline;
}
.fifthWeek {
  text-align: center;
  width: 32.5rem;
}
