@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@700&family=Assistant&family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&family=Prompt:wght@400;500;600;700&family=Roboto:wght@300;400&display=swap");
@font-face {
  font-family: "Mervale";
  src: url("../../assets/fonts/mervalescript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

@media screen and (min-width: 730px) {
  .inspired {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  .offers {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  .duration {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: c;
  }
  .weeks {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
  }
  .decor {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: e;
  }
  .apuff {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: f;
  }
  .grid-group {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
        grid-template-areas: "a b" "c d" "e f";
  }
}

.intro {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 24rem;
  background-image: url("../../assets/img/hotel-wallpaper.jpg");
  background-repeat: repeat;
}

.intro-main {
  padding-top: 15.5rem;
  padding-bottom: 6.4rem;
}

.intro-main h3 {
  font-size: 1.8rem;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  color: #676767;
  text-transform: uppercase;
}

.intro-main h1,
.intro-main span {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 5.7rem;
}

.underline-group {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
}

.underline-group h2 {
  font-family: "Mervale", sans-serif;
  font-size: 5.7rem;
  color: #1b5ad3;
}

.underline-group img {
  position: absolute;
  top: 102%;
  width: 11.39rem;
}

.button {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.3rem 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  outline: none;
  border: 1px solid black;
  color: #fffefe;
  background-color: black;
  opacity: 1;
  letter-spacing: 0.3rem;
}

.intro-button {
  margin-top: 6.4rem;
  display: block;
  background: #1b5ad3;
}

@media screen and (min-width: 767px) {
  .intro-group {
    -ms-flex-item-align: center;
        align-self: center;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1600px) {
  .intro {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .intro-group {
    -ms-flex-item-align: center;
        align-self: center;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-group img {
    width: 50%;
  }
}

@media screen and (max-width: 967px) {
  .intro-group {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-group img {
    display: none;
  }
}

.header {
  top: 0;
  width: 85%;
  min-height: 9rem;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header h1 {
  font-size: 4rem;
  font-family: "Mervale", sans-serif;
  font-weight: 400;
  color: #1b5ad3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 2rem;
}

.header img {
  width: 3rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1.5px solid #1b5ad3;
  border-radius: 0.18rem;
  color: #1b5ad3;
  outline: none;
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 9rem;
  }
  .nav__menu {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0%;
    left: 0;
    padding: 3.5rem 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 99;
    border-radius: 0 0 1.5rem 1.5rem;
  }
  .nav__menu a {
    text-decoration: none;
    font-size: 3rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    color: black;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-bottom: 2rem;
  }
  .nav__menu li {
    list-style-type: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1rem;
  }
  .nav__close {
    position: absolute;
    top: 6rem;
    left: 1rem;
    cursor: pointer;
  }
  .nav__close img {
    width: 3rem;
  }
  .nav__button-div {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header h1 {
    font-size: 5rem;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 767px) and (min-width: 1600px) {
  .header {
    width: 72%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 767px) {
  .nav__button-div {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__menu {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .nav__menu li {
    list-style-type: none;
  }
  .nav__menu a {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    color: black;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-bottom: 2rem;
  }
  .menu-icon {
    display: none;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .nav__link {
    text-transform: initial;
  }
}

.course {
  min-height: 100vh;
  background: #3f3d56;
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course-wrapper {
  min-height: 90vh;
  width: 85%;
  margin: auto;
  background: #efefef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3.2rem 4.7rem 2.2rem 4.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.course-wrapper h2 {
  padding-bottom: 7.8rem;
  font-size: 2.7rem;
  line-height: 3.7rem;
  letter-spacing: 0.4rem;
}

.course-wrapper h1 {
  padding-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 4.2rem;
}

.course-wrapper button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 6.2rem;
}

.course-details-1 p, .course-details-2 p {
  padding-bottom: 3.2rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.course-details-1 h3, .course-details-2 h3 {
  font-size: 1.6rem;
  padding-bottom: 4.3rem;
}

@media screen and (max-width: 340px) {
  .course-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .course-details-1, .course-details-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 340px) and (max-width: 666px) {
  .course-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .course-details-1, .course-details-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 666px) {
  .course-details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .course-details-1, .course-details-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1100px) {
  .course-wrapper h2 {
    font-size: 4rem;
  }
  .course-wrapper h1 {
    font-size: 5rem;
  }
  .course-wrapper p, .course-wrapper h3 {
    font-size: 2.7rem;
  }
  .course-wrapper button {
    font-size: 2.5rem;
  }
}

.inspired {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  background-image: url("../../assets/img/hotel-wallpaper.jpg");
  background-repeat: repeat;
  padding: 12.9rem 7.1rem 9.2rem 7.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inspired h2 {
  margin: 1.8rem 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.inspired-block {
  height: 22.3rem;
  width: 22.3rem;
  background: #efefef;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4.2rem;
}

.inspired-block h1 {
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: #1b5ad3;
  font-family: "Asap Condensed", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.75rem;
}

.inspired-block p {
  color: #686666;
  padding: 0 0.5rem;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.16rem;
}

.block {
  height: 100%;
  background: #1b5ad3;
}

.wrapper {
  width: 90%;
  margin: auto;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6.6rem;
}

.wrapper h1 {
  margin: 10rem 0 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Prompt", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.group {
  margin-left: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.5rem;
}

.group p {
  font-weight: 300;
  font-size: 1.9rem;
  font-family: "Prompt", sans-serif;
}

.button-block {
  margin-left: 2.3rem;
  margin-bottom: 11.7rem;
}

@media screen and (min-width: 1294px) {
  .group {
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .group p {
    font-size: 2.5rem;
  }
  .button-block {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }
}

#duration-block {
  background: #3f3d56;
}

.duration-group span {
  text-transform: uppercase;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  line-height: 1.5rem;
}

.weeks {
  padding: 4.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../assets/img/hotel-wallpaper.jpg");
  background-repeat: repeat;
}

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.week img {
  padding-top: 0.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 0.8rem;
}

.week-info {
  height: 9.8rem;
  width: 18.7rem;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

.week-info h1 {
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  text-transform: uppercase;
}

.week-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.fifthWeek {
  text-align: center;
  width: 32.5rem;
}

.decor {
  min-height: 90vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../../assets/img/hotel-wallpaper.jpg");
  background-repeat: repeat;
  position: relative;
}

.decor_icon {
  width: 5rem;
}

.mobile {
  position: absolute;
  right: 3.8rem;
  top: 13.2rem;
}

.cart {
  position: absolute;
  left: 2rem;
  top: 27.5rem;
}

.news {
  position: absolute;
  right: 9.8rem;
  top: 32.5rem;
}

.blog {
  position: absolute;
  right: 2rem;
  top: 46.7rem;
}

.pagenum {
  position: absolute;
  left: 7rem;
  top: 48.7rem;
}

@media screen and (min-width: 1000px) {
  .relative {
    width: 80%;
    margin: auto;
    position: relative;
  }
}

@media screen and (min-width: 1400px) {
  .decor_icon {
    width: 6rem;
  }
}

.quote {
  min-height: 90vh;
  background: #3f3d56;
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quote-wrapper {
  min-height: 90vh;
  -ms-flex-item-align: center;
      align-self: center;
  width: 85%;
  margin: auto;
  background: #524e7e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3.2rem 3.7rem 2.2rem 3.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}

.quote-wrapper h1 {
  text-transform: uppercase;
  font-size: 2.1rem;
  letter-spacing: 0.43rem;
  padding-bottom: 6.8rem;
}

.quote-wrapper p {
  font-weight: 200;
  font-size: 2.3rem;
  letter-spacing: -0.05rem;
  line-height: 2.8rem;
  padding-bottom: 6.8rem;
}

.quote-wrapper button {
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  margin-bottom: 6.2rem;
}

@media screen and (min-width: 616px) and (max-width: 734px) {
  .quote-wrapper p {
    font-size: 2.2rem;
    line-height: 3.4rem;
  }
  .quote-wrapper button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 734px) and (max-width: 1440px) {
  .quote-wrapper {
    padding: 0 10rem;
  }
  .quote-wrapper h1 {
    font-size: 2.3rem;
  }
  .quote-wrapper p {
    font-size: 2.5rem;
    line-height: 4.4rem;
  }
  .quote-wrapper button {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .quote-wrapper {
    padding: 0 10rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .quote-wrapper h1 {
    font-size: 3.1rem;
  }
  .quote-wrapper p {
    font-size: 3.7rem;
    width: 80%;
    line-height: 5.4rem;
  }
  .quote-wrapper button {
    font-size: 2rem;
  }
}

.subscribe {
  padding-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 40vh;
  background-color: #fff;
  text-align: center;
}

.subscribe img {
  position: relative;
  top: 7.7rem;
}

.subscribe-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.underline-h1group-subscribe {
  position: absolute;
}

.underline-h1group-subscribe h1 {
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 800;
}

.emailForm {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32.5rem;
  margin-top: 11.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6.2rem;
}

.emailForm input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #555;
  color: #fafafa;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  padding: 0 5rem;
}

.emailIcon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: url("../../assets/icons/send.svg") no-repeat right;
  padding-right: 2rem;
  background-size: 2.6rem;
  background-position-x: 94%;
}

@media screen and (min-width: 1000px) {
  .subscribe h1 {
    font-size: 3rem;
  }
}

.footer {
  min-height: 90vh;
  background-color: #dadada;
  padding: 4rem 2rem 3.1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  letter-spacing: 0.15rem;
  font-family: "Be Vietnam Pro", sans-serif;
}

.footer h1 {
  font-size: 4rem;
  font-family: "Mervale", sans-serif;
  font-weight: 400;
  color: #1b5ad3;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 3.5rem;
}

.footer p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.footer h2 {
  padding-top: 10.4rem;
  padding-bottom: 5.2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
}

.links,
.link:hover,
.link:active,
.link:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 7rem;
}

.links a,
.link:hover a,
.link:active a,
.link:visited a {
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 18.6rem;
  padding-bottom: 15.8rem;
}

.footer_info {
  width: 100%;
}

.privacy-disclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: "Prompt", sans-serif;
  padding-bottom: 8rem;
}

@media screen and (max-width: 1000px) {
  .footer_info hr {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .footer_group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_group-1 {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
  }
  .footer_group-2,
  .footer_group-3 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .footer_group-2 h2,
  .footer_group-3 h2 {
    padding-top: 1.4rem;
  }
  .footer_info {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "c c" "a  b";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 3rem;
  }
  .footer_info p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: a;
    text-align: start;
  }
  .privacy-disclaimer {
    padding-bottom: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: b;
  }
  hr {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: c;
    color: #d6c8c8;
    opacity: 0.3;
  }
}
